/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage
crashlytics-buildid.txt
sysinfo.txt
.DS_Store

# scene backups Unity writes after a crash
/[Aa]ssets/_Recovery*
